@charset "UTF-8";

h1 {
  padding: 1rem 2rem;
  color: #fff;
  background-image: -webkit-gradient(linear, left top, right top, from(#fa709a), to(#fee140));
  background-image: -webkit-linear-gradient(left, #fa709a 0%, #fee140 100%);
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
  text-align: center;
 
}

body {
	background:radial-gradient(#7fffbf, #fff);
	height: 300px;
}

p{
	margin: 0;
}

.full-screen {
  height: 100vh; /* ビューポートの高さの100% */
}
.text {
	text-align: center;
	font-size: 30px;
}

#main_img {
	width: 350px;
	height: 200px;
}

.container {
	display: flex;
	margin: auto;
    text-align: center;
    font-weight: bold;
    color: dimgray;
    font-size: 20px;
    justify-content: center;
    gap: 20px;
}

.castle{
	text-align: center;
    font-weight: bold;
    color: dimgray;
    font-size: 20px;
}

.box {
	display: flex;
	justify-content: space-around;
    margin: 5px 8px;  
}
.list_img{
	width: 160px;
	height: 120px;
}
.button0{
	margin: auto;
}

a.btn-flat {
	position: relative;
  overflow: hidden;
  padding: 1.5rem 6rem;
  color: #fff;
  border-radius: 0;
  background: #000;
}

a.btn-flat span {
  position: relative;
}

a.btn-flat:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateX(-96%);
  transform: translateX(-96%);
  background: #eb6877;
}

a.btn-flat:hover:before {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}








